/* in the review notes, I handled most corrections, but there are a few things noted that tell me to correspond with the brief that already correspond. Tutor given opposite feedback on a couple of things. Please let me know if I should change the last few review notes that they told me are correct already */

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: Inter, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}