.reservation {
    padding: 100px 0 100px;
    background-image: url(../images/background_reservation.svg);
    background-color: #D9e7ff;
    background-repeat: no-repeat;
}

.reservation__title {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    margin: 0 auto;
}

.form {
    max-width: 385px;
    margin: 0 auto 120px;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label {
    display: block;
    margin-bottom: 32px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
}

.form__check {
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.form__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-top: 8px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    height: 60px;
}

.form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    height: 60px;
    opacity: 1;
    background-color: #2f80ed;
    transition: color 0.3s ease-in-out;
}

.form__button:hover {
    opacity: 0.7;
}