@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../vendor/normalize.css);

@import url(../blocks/menu.css);

.about {
    background-color: #0a2850;
}

.about__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color:white;
    padding-left: 80px;
    padding-top: 100px;
    margin: 0;
    max-width: 251px;
}

.about__content {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color:white;
    display: flex;
    flex-direction: column;
    float: right;
    max-width: 660px;
    margin-right: 80px;
    margin-top: 119px;
}

.about__paragraph {
    margin-top: 20px;
}

.circle__container {
    width: 426px;
    height: 426px;
    border-radius: 50%;
    color: #2f80ed;
    z-index: -1;
    
}
