@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../vendor/normalize.css);

@import url(../blocks/menu.css);

.about {
    background-color: #0a2850;
}

.about__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color:white;
    padding-left: 80px;
    padding-top: 100px;
    margin: 0;
    max-width: 251px;
}

.about__content {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color:white;
    float: right;
    max-width: 660px;
    margin-right: 80px;
}

.about__paragraph {
    margin-top: 20px;
}

.about__circle {
    width: 426px;
    height: 426px;
    border-radius: 50%;
    color: #2f80ed;
    z-index: -1;
    
}



.footer {
    background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    max-width: 105px;
    max-height: 39px;
    padding-top: 60px;
    padding-left: 80px;
}

.footer__social-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-left: auto;
    margin-right: 80px;
}

.footer__list {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: auto;
    color: #fff;
    margin-right: 80px;
}

.footer__list-item {

}

.footer__social-icon {

}

.footer__social-link {

}

.footer__copyright {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 60px;
    margin-left: 80px;
}


